Welcome to Kellogg Kindling!
===============================================

As a participant in EDC 2015, you have automatically been added to <a href="https://kellogg-kindling.herokuapp.com/" target="new">Kellogg Kinding</a>.

These are your credentials:
- Email: <%= @user.email %>
- Password: <%= @pwd %>

To login to the app, just follow this link: <%= @url %>.

Kellogg Kindling is a student-developed app aimed at letting you tell 3 of your secret crushes about your feelings with your preferred degree of exposure:
- By default, your crushes will only find out about this if they also choose you as a crush of theirs
- You can choose which specific crushes you want to be notified EVEN if there's no match

If you do NOT want to be part of this activity, you can either remove yourself from your profile page in the app (immediate), or email us at kellogg.kindling@gmail.com with the subject "Remove" (may take us a few hours!)</li></ul>

Thanks and have fun finding your matches!
