<p><%= @resource.name %>,</p>

<p>Either a new account has been created for you on Krush.es, or a request has ben received to have your password reset.</p>
<p>You can set a new password using this link: <%= link_to 'Set new password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't make this request, please ignore this email. Your password won't change unless you take action through the above link.</p>
